In [1]:
%load_ext watermark

In [2]:
%watermark -v -a 'Kyle' -p numpy,scipy,matplotlib

Author: Kyle

Python implementation: CPython
Python version       : 3.9.1
IPython version      : 7.19.0

numpy     : 1.19.5
scipy     : 1.7.1
matplotlib: 3.3.3

In [3]:
def python_forloop_list_approach(x, w):
    z = 0.
    for i in range(len(x)):
        z += x[i] * w[i]
    return z

a = [1., 2., 3.]
b = [4., 5., 6.]

print(python_forloop_list_approach(a, b))

32.0

In [4]:
large_a = list(range(1000))
large_b = list(range(1000))

%timeit python_forloop_list_approach(large_a, large_b)

84.7 µs ± 625 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [5]:
import numpy as np


def numpy_dotproduct_approach(x, w):
    return x.dot(w)

a = np.array([1., 2., 3.])
b = np.array([4., 5., 6.])

print(numpy_dotproduct_approach(a, b))

32.0

In [6]:
large_a = np.arange(1000)
large_b = np.arange(1000)

%timeit numpy_dotproduct_approach(large_a, large_b)

1.95 µs ± 133 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [7]:
import numpy as np


lst = [[1, 2, 3], [4, 5, 6]]
ary2d = np.array(lst)
ary2d

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
print(ary2d.sum(axis=1)) #row sum
print(ary2d.sum(axis=0)) #col sum

[ 6 15]
[5 7 9]

In [9]:
ary2d.dtype

dtype('int32')

In [10]:
float32_ary = ary2d.astype(np.float32)
float32_ary

array([[1., 2., 3.],
       [4., 5., 6.]], dtype=float32)

In [11]:
float32_ary.dtype

dtype('float32')

In [12]:
#To return the number of elements in an array, we can use the `size` attribute, as shown below:

In [13]:
ary2d.size

6

In [14]:
#And the number of dimensions of our array (Intuitively, you may think of dimensions as the rank of a tensor) can be obtained via the ndim attribute:

In [15]:
ary2d.ndim

2

In [16]:
ary2d.shape

(2, 3)

In [17]:
np.array([1,2,3]).shape

(3,)

In [18]:
#Array Construction Routines

In [19]:
print(np.ones((3,3)))

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [20]:
print(np.ones((5,5)))

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [21]:
print(np.zeros((3,3)))

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [22]:
print(np.eye(3))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [23]:
print(np.diag((1,3,5)))

[[1 0 0]
 [0 3 0]
 [0 0 5]]

In [24]:
print(np.arange(4.,10.))

[4. 5. 6. 7. 8. 9.]

In [25]:
print(np.arange(5))

[0 1 2 3 4]

In [26]:
print(type(np.arange(5)))

<class 'numpy.ndarray'>

In [27]:
print(np.arange(1.,11.,2))

[1. 3. 5. 7. 9.]

In [28]:
print(np.linspace(0.,1.,num=5))

[0.   0.25 0.5  0.75 1.  ]

In [29]:
#Array Indexing

In [30]:
ary = np.array([1,2,3])
print(ary[0])

1

In [31]:
print(ary[:2])

[1 2]

In [32]:
ary = np.array([[1,2,3],
                [4,5,6]])
print(ary)

[[1 2 3]
 [4 5 6]]

In [33]:
print(ary[0,0])

1

In [34]:
print(ary[0,1])

2

In [35]:
print(ary[0]) #entire first row

[1 2 3]

In [36]:
print(ary[:, 0]) #entire first column

[1 4]

In [37]:
print(ary[:, :2]) # first tow columns

[[1 2]
 [4 5]]

In [38]:
#Array Math and Universal Functions

In [39]:
lst = [[1, 2, 3], [4, 5, 6]]

for row_idx, row_val in enumerate(lst):
    for col_idx, col_val in enumerate(row_val):
        lst[row_idx][col_idx] += 1
lst

[[2, 3, 4], [5, 6, 7]]

In [40]:
lst = [[1, 2, 3], [4, 5, 6]]
[[cell + 1 for cell in row] for row in lst]

[[2, 3, 4], [5, 6, 7]]

In [41]:
ary = np.array([[1,2,3], [4,5,6]])
ary = np.add(ary, 1) #element-wise scalar addition
ary

array([[2, 3, 4],
       [5, 6, 7]])

In [42]:
ary + 1

array([[3, 4, 5],
       [6, 7, 8]])

In [43]:
ary**2

array([[ 4,  9, 16],
       [25, 36, 49]], dtype=int32)

In [44]:
ary = np.array([[1, 2, 3], 
                [4, 5, 6]])

np.add.reduce(ary) # column sum

array([5, 7, 9])

In [45]:
np.add.reduce(ary, axis=1) # row sum

array([ 6, 15])

In [46]:
ary.sum(axis=0) # col sum

array([5, 7, 9])

In [47]:
ary.sum(axis=1) # row sum

array([ 6, 15])

In [48]:
ary.sum()

21

In [49]:
#Numpy Broadcasting

In [50]:
#view

In [51]:
ary1 = np.array([1,2,3])
ary2 = np.array([4,5,6])

ary1 + ary2

array([5, 7, 9])

In [52]:
ary3 = np.array([[4,5,6],
                [7,8,9]])
ary3 + ary1

array([[ 5,  7,  9],
       [ 8, 10, 12]])

In [53]:
ary = np.array([[1,2,3],
               [4,5,6]])

first_row = ary[0]
first_row += 99
ary

array([[100, 101, 102],
       [  4,   5,   6]])

In [54]:
ary = np.array([[1, 2, 3],
                [4, 5, 6]])

first_row = ary[:1]
first_row += 99
ary

array([[100, 101, 102],
       [  4,   5,   6]])

In [55]:
ary = np.array([[1, 2, 3],
                [4, 5, 6]])

center_col = ary[:, 1]
center_col += 99
ary

array([[  1, 101,   3],
       [  4, 104,   6]])

In [56]:
#copy (facny indexing)

In [57]:
ary = np.array([[1, 2, 3],
                [4, 5, 6]])

second_row = ary[1].copy()
second_row += 99
ary

array([[1, 2, 3],
       [4, 5, 6]])

In [58]:
ary = np.array([[1, 2, 3],
                [4, 5, 6]])

ary[:, [0, 2]] # first and and last column

array([[1, 3],
       [4, 6]])

In [59]:
this_is_a_copy = ary[:, [0, 2]]
this_is_a_copy += 99
ary

array([[1, 2, 3],
       [4, 5, 6]])

In [60]:
ary[:, [2, 0]] # first and and last column

array([[3, 1],
       [6, 4]])

In [61]:
ary = np.array([[1,2,3],
               [4,5,6]])

greater3_mask = ary > 3
greater3_mask

array([[False, False, False],
       [ True,  True,  True]])

In [62]:
ary[greater3_mask]

array([4, 5, 6])

In [63]:
ary[(ary > 3) & (ary % 2 == 0)]

array([4, 6])

In [64]:
#Random Number Generators

In [65]:
np.random.seed(123)
np.random.rand(3)

array([0.69646919, 0.28613933, 0.22685145])

In [66]:
#The example below shows how we can use a RandomState object to create the same results that we obtained via np.random.rand in the previous code snippet:

np.random.RandomState(seed=123).rand(3)

array([0.69646919, 0.28613933, 0.22685145])

In [68]:
#Reshaping Arrays

ary1d = np.array([1,2,3,4,5,6])
ary2d_view = ary1d.reshape(2,3)
ary2d_view

array([[1, 2, 3],
       [4, 5, 6]])

In [69]:
np.may_share_memory(ary2d_view, ary1d)

True

In [70]:
#placeholder -1

In [71]:
ary1d.reshape(2,-1)

array([[1, 2, 3],
       [4, 5, 6]])

In [73]:
ary1d.reshape(-1,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [76]:
ary = np.array([[[1,2,3],
                [4,5,6]]])
ary.reshape(-1)

array([1, 2, 3, 4, 5, 6])

In [78]:
#concatenate

In [79]:
ary = np.array([1, 2, 3])

# stack along the first axis
np.concatenate((ary, ary))

array([1, 2, 3, 1, 2, 3])

In [80]:
ary = np.array([[1, 2, 3]])

# stack along the first axis (here: rows)
np.concatenate((ary, ary), axis=0)

array([[1, 2, 3],
       [1, 2, 3]])

In [81]:
# stack along the second axis (here: column)
np.concatenate((ary, ary), axis=1)

array([[1, 2, 3, 1, 2, 3]])

In [82]:
#Comparison Operators and Masks

In [83]:
ary = np.array([1, 2, 3, 4])
mask = ary > 2
mask

array([False, False,  True,  True])

In [84]:
ary[mask]

array([3, 4])

In [87]:
mask.sum() #count how many elements meet a certain condition

2

In [89]:
np.where(ary > 2, 1, 0)

array([0, 0, 1, 1])

In [90]:
#bit-wise operators

In [91]:
ary = np.array([1, 2, 3, 4])
mask = ary > 2
ary[mask] = 1
ary[~mask] = 0
ary

array([0, 0, 1, 1])

In [92]:
ary = np.array([1, 2, 3, 4])

(ary > 3) | (ary < 2)

array([ True, False, False,  True])

In [93]:
~((ary > 3) | (ary < 2))

array([False,  True,  True, False])

In [94]:
#Linear Algebra with Numpy

In [95]:
row_vector = np.array([1, 2, 3])
row_vector

array([1, 2, 3])

In [96]:
column_vector = np.array([[1, 2, 3]]).reshape(-1, 1)
column_vector

array([[1],
       [2],
       [3]])

In [97]:
row_vector[:, np.newaxis]

array([[1],
       [2],
       [3]])

In [98]:
row_vector[:, None]

array([[1],
       [2],
       [3]])

In [101]:
#matrix multiplication

In [102]:
matrix = np.array([[1, 2, 3], 
                   [4, 5, 6]])

In [103]:
np.matmul(matrix, column_vector)

array([[14],
       [32]])

In [104]:
np.matmul(matrix, row_vector)

array([14, 32])

In [105]:
np.matmul(row_vector, row_vector)

14

In [106]:
#Numpy dot-product

In [107]:
np.dot(row_vector, row_vector)

14

In [108]:
np.dot(matrix, row_vector)

array([14, 32])

In [109]:
np.dot(matrix, column_vector)

array([[14],
       [32]])

In [110]:
#Transpose

In [111]:
matrix = np.array([[1, 2, 3], 
                   [4, 5, 6]])

matrix.transpose()

array([[1, 4],
       [2, 5],
       [3, 6]])

In [112]:
np.matmul(matrix, matrix.transpose())

array([[14, 32],
       [32, 77]])

In [113]:
matrix.T

array([[1, 4],
       [2, 5],
       [3, 6]])